* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif, "微軟正黑體";
  /* margin: 0 auto;
  max-width: 1920px; */
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  color: #1d0333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 3;
}

.navbar__sitename {
  font-size: 30px;
  padding: 10px;
}

.navbar__list {
  font-size: 16px;
  display: flex;
  list-style: none;
  align-items: stretch;
}

.navbar__list li {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-in;
  padding: 25px 20px;
}

.navbar__list li:hover {
  background: rgba(29, 3, 51, 0.9);
  color: #ffffff;
}

/* title */

.bg {
  background: url(../images/main.jpg) center/cover no-repeat;
  position: relative;
  background-attachment: fixed;
  min-height: 100vh;
}

.bg:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stream__wrapper {
  position: relative;
  z-index: 3;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 100vh;
}

.stream__info {
  color: #ffffff;
  text-align: center;
}

.stream__info-gameName {
  font-size: 40px;
  padding: 20px 0 30px 0;
}

.stream__info-content {
  font-size: 28px;
}

/* streams */

.streams {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.stream__card {
  cursor: pointer;
  width: 360px;
  background: rgba(29, 3, 51);
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 20px;
  overflow: hidden;
  transition: all 0.1s ease-in;
  opacity: 0.9;
}

.stream__card:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
  opacity: 1;
}

.stream__image > img {
  width: 100%;
}

.stream__content {
  display: flex;
  padding: 6px;
}

.stream__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.stream__avatar > img {
  width: 100%;
}

.stream__desc {
  color: #ffffff;
  width: 270px;
}

.stream__desc-title {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stream__desc-channel {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* 只由寬度的空白卡片，來達成排版的一致性 */
.stream__empty {
  width: 360px;
  margin-left: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */

.footer {
  background: url(../images/main.jpg) center/cover no-repeat;
  font-size: 16px;
  font-weight: 600;
  color: #9d9d9d;
  text-align: center;
  padding: 25px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .navbar__list li {
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .navbar__list li:hover {
    background: rgba(29, 3, 51, 0.3);
    color: #ffffff;
  }

  .streams {
    margin: 40px auto;
  }

  .stream__card {
    margin-left: 0px;
  }

  .wrapper {
    padding: 50px 0;
  }
}
